@import '../../../styles/variables.scss';

.row {
  box-shadow: $shadow;
  margin-block: 1px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 8px 32px;
}

@media (max-width: $mobile-breakpoint) {
  .row {
    display: none;
  }  
}