@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url("./assets/fonts/HelveticaNeueMedium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url("./assets/fonts/HelveticaNeueLight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}